@font-face {
    font-family: 'miau';
    src: url('DK Crayon Crumble.ttf') format('truetype');
}

@font-face {
    font-family: 'affs';
    src: url('OldNewspaperTypes.ttf') format('truetype');
}

body {
    background: url(d.jpg);
    background-size: contain;
    background-attachment: fixed;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4rem;
    gap: 1rem;
}

.cartao {
    margin: 1rem 1rem;
    background-image: url(k.png);
    background-size: contain;
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
    border-radius: 20px;
}



.cartao__conteudo {
    text-align: center;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
    font-family: affs, Helvetica, sans-serif
}

.cartao__conteudo h3 {
    border-radius: 10px;
    color: rgb(223, 157, 163);
    text-align: left;
    padding: 0.4rem;
    position: absolute;
    margin: 0.6rem;
    margin-top: 0.5rem;
    border-radius: 0.6rem;
    font-size: 50px;
    backface-visibility: hidden;
    font-family: miau, Helvetica, sans-serif;
    background: linear-gradient(to right, #eea3a3, #f48fb1, #ffd485, #a1ccbe, #b2d7dd, #8ca9bd);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cartao__conteudo p {
    margin-top: 4rem;
    padding: 2rem;
}

.cartao__conteudo__pergunta p {
    color: rgb(151, 110, 102);
    font-weight: 500;
    padding-top: 60px;
    font-size: 23px;
}

.cartao__conteudo__resposta p {
    color: rgb(218, 188, 188);
    font-weight: 700;
    padding-top: 25px;
    font-size: 23px;
}

.cartao.active .cartao__conteudo {
    transform: rotateY(180deg);
}

.cartao__conteudo__pergunta,
.cartao__conteudo__resposta {
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
}

.cartao__conteudo__resposta {
    transform: rotateY(180deg);
}





footer {
    margin-left: 700px;
    margin-right: 500px;
    margin-bottom: 1px;
    background-color: #eecaca;
    border-radius: 25px;
    display: flex;
    color: rgb(189, 118, 118);
    position: fixed;
    font-family: miau, Helvetica, sans-serif;
    font-size: 25px;
    bottom: 0;
    width: 30%;
    justify-content: left;

}

@media (max-width: 560px) {
    .cartao {
        flex: 1 0 calc(100% - 1rem)
    }

    .cartao__conteudo h3 {
        font-size: 3vw;
    }

}